name: Push Docker Image To ECR

description: Pushing an image to docker

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Add python3
      run: apk add --no-cache curl jq python3 py3-pip
    - name: Install awscli
      run: pip install awscli
    - name: Authenticating docker client to ecr repository
      run: aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.ECR_REPOSITORY }}