name: Create and Push Image to ECR

on:
  workflow_dispatch:

env: 
  AWS_REGION : "eu-west-2"

permissions:
    id-token: write  
    contents: read   

jobs:
  DockerImageBuildAndPush:
    runs-on: ubuntu-24.04
    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1.7.0
      with:
          role-to-assume: arn:aws:iam::291759414346:role/GitHubActionsTerraformRole
          role-session-name: GitHubActionsTerraformRole
          aws-region: ${{ env.AWS_REGION }}

    - name: Authenticating docker client to Amazon ECR registry 
      run: aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.ECR_REPOSITORY }}

    - name: Building docker image
      run: docker build -t threat-composer ./app

    - name: Tagging image to ECR repository
      run: docker tag threat-composer ${{ secrets.ECR_REPOSITORY }}:${{ github.sha }}

    - name: Pushing docker image
      run: docker push ${{ secrets.ECR_REPOSITORY }}:${{ github.sha }}
