name: Terraform CI/CD
on:
  pull_request:
    paths: ['**.tf', '**.tfvars']
  push:
    branches: [main]

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::291759414346:role/GitHubActionsTerraformRole
          aws-region: eu-west-2
